.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: antiquewhite;
}

.search {
  display: flex;
  flex-direction: row;
}

.search-list {
  display: block;
  width: 20rem;
  padding: 1rem;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: flex-start;
  padding: 1rem;

  input {
    height: 2rem;
    margin-right: 1rem;
    border: 1px solid #6b6b6b !important;
    border-radius: 0.25rem;
  }
}

.p-listbox {
  border: 2px solid #6b6b6b !important;
}

$tables: (
  wiki: #9bd4ea,
  library: #cde3a2,
  github: #d2aad6,
  hacker: #d3c9a8
);

.search-result {
  width: 90% !important;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid #6b6b6b;
  border-radius: 1rem;

  .p-datatable-tbody > tr:last-child td {
    border: none;
  }

  .p-datatable-thead > tr > th,
  .p-datatable-tbody > tr > td {
    white-space: wrap;


    &:nth-child(2) {
      width: 250px;
    }

    &:nth-child(4) {
      width: 200px;
      text-align: center;
    }

    border-color: #6b6b6b !important;
    color: black !important;
  }

  @each $name, $color in $tables {
    &.#{$name}-table {
      background-color: $color;

      .p-datatable-thead > tr > th,
      .p-datatable-tbody > tr {
        background-color: $color;
      }
    }
  }
}
