<div class="header">
  <h1>Search extractor</h1>
  <div class="search">
    <div class="search-list">
      <p-listbox [options]="items" [(ngModel)]="selectedItems" [checkbox]="true" [selectAll]="selectAll"
                 optionLabel="label" [multiple]="true"
                 [metaKeySelection]="false" (onSelectAllChange)="onSelectAllChange($event)"
                 (onChange)="onChange($event)"
                 scrollHeight="250px"/>
    </div>
    <div class="search-input">
      <div><label for="query">Enter search query:</label>
        <input #input id="query" type="text" placeholder="Type something..."/>
        <p-button (onClick)="search(input.value)">Search</p-button>
      </div>
      <p-button (onClick)="save()">Export selected</p-button>
      <p-button (onClick)="save(true)">Export all</p-button>
    </div>
  </div>
</div>
<div class="tables">
  @if (apiRecords().Wikipedia.length > 0) {
    <div class="search-result wiki-table">
      <h3>Wikipedia</h3>
      <p-table [value]="apiRecords().Wikipedia"
               [tableStyle]="{ 'min-width': '50rem' }"
               [(selection)]="selectedWikipediaRecords"
               selectionMode="multiple">
        <ng-template #header>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Title</th>
            <th>Url</th>
            <th>Last actualization</th>
          </tr>
        </ng-template>
        <ng-template #body let-record>
          <tr [pSelectableRow]="record">
            <td>
              <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <td>{{ record.title }}</td>
            <td>{{ record.snippet }}</td>
            <td>{{ record.score | ageInMonths }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
  @if (apiRecords().HackerNews.length > 0) {
    <div class="search-result hacker-table">
      <h3>Hacker news</h3>
      <p-table [value]="apiRecords().HackerNews" [tableStyle]="{ 'min-width': '50rem' }"
               [(selection)]="selectedHackerNewsRecords"
               selectionMode="multiple">">
        <ng-template #header>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Author</th>
            <th>Title</th>
            <th>Points</th>
          </tr>
        </ng-template>
        <ng-template #body let-record>
          <tr [pSelectableRow]="record">
            <td>
              <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <td>{{ record.snippet }}</td>
            <td>{{ record.title }}</td>
            <td>{{ record.score }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
  @if (apiRecords().OpenLibrary.length > 0) {
    <div class="search-result library-table">
      <h3>OpenLibrary</h3>
      <p-table [value]="apiRecords().OpenLibrary" [tableStyle]="{ 'min-width': '50rem' }"
               [(selection)]="selectedOpenLibraryRecords"
               selectionMode="multiple">">
        <ng-template #header>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Title</th>
            <th>Authors</th>
            <th>Languages</th>
          </tr>
        </ng-template>
        <ng-template #body let-record>
          <tr [pSelectableRow]="record">
            <td>
              <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <td>{{ record.title }}</td>
            <td>{{ record.snippet }}</td>
            <td>{{ record.score }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
  @if (apiRecords().GitHub.length > 0) {
    <div class="search-result github-table">
      <h3>GitHub</h3>
      <p-table [value]="apiRecords().GitHub" [tableStyle]="{ 'min-width': '50rem' }"
               [(selection)]="selectedGitHubRecords"
               selectionMode="multiple">">
        <ng-template #header>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Title</th>
            <th>Description</th>
            <th>Stars</th>
          </tr>
        </ng-template>
        <ng-template #body let-record>
          <tr [pSelectableRow]="record">
            <td>
              <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <td>{{ record.title }}</td>
            <td>{{ record.snippet }}</td>
            <td>{{ record.score }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>


