<p-listbox [options]="items" [(ngModel)]="selectedItems" [checkbox]="true" [selectAll]="selectAll"
           optionLabel="label" [multiple]="true"
           [metaKeySelection]="false" (onSelectAllChange)="onSelectAllChange($event)" (onChange)="onChange($event)"
           scrollHeight="250px" class="md:w-56"/>
<div>
  <label for="query">Enter search query:</label>
  <input #input id="query" type="text" placeholder="Type something..."/>
  <p-button (onClick)="search(input.value)">Search</p-button>
</div>

